<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJLo5FvUZrBxqAKKJFuA9l31vr6irZ-34</string>
	<key>GCM_SENDER_ID</key>
	<string>410823846093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yapilacaklarlistesi</string>
	<key>PROJECT_ID</key>
	<string>yapilacaklarlist</string>
	<key>STORAGE_BUCKET</key>
	<string>yapilacaklarlist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410823846093:ios:329998efe5ff1e0dee2184</string>
</dict>
</plist>